.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media screen and (max-width: 600px) {
    align-items: flex-start;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

    @media screen and (max-width: 600px) {
      flex-direction: row;
    }

    mat-icon {
      font-size: 22px;
    }

    &-text {
      font-size: 12px;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      align-items: center;
      width: 100%;
    }
  }
}

.theme-switch-btn {
  border-radius: 32px;
  font-size: 14px;
  height: 48px;
  margin-bottom: 20px;

  @media screen and (min-width: 600px) {
    display: none;
  }

  &-desktop {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
