.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 88px;
}

.hamburger-btn {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

mat-toolbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.dark-mode {
  background-color: #141314;
}

.light-mode {
  background-color: #fdfbff;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
