<div class="header">
  <mat-nav-list>
    <button
      *ngIf="sidenav.opened"
      mat-icon-button
      (click)="sidenav.toggle()"
      class="hamburger-btn"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-list-item href="#" routerLink="/home">
      <div class="header-item">
        <mat-icon>home</mat-icon>
        <span class="header-item-text">{{ "homepage" | translate }}</span>
      </div>
    </a>
    <a mat-list-item href="#" routerLink="/about">
      <div class="header-item">
        <mat-icon>person</mat-icon>
        <span class="header-item-text">{{ "experiences" | translate }}</span>
      </div>
    </a>
    <a mat-list-item href="#" routerLink="/projects">
      <div class="header-item">
        <mat-icon>work</mat-icon>
        <span class="header-item-text">{{ "projects" | translate }}</span>
      </div>
    </a>
    <a mat-list-item href="#" routerLink="/contact">
      <div class="header-item">
        <mat-icon>mail</mat-icon>
        <span class="header-item-text">{{ "contact" | translate }}</span>
      </div>
    </a>
  </mat-nav-list>

  <div class="header-bottom">
    <app-language-selector />
    <button
      mat-icon-button
      (click)="toggleTheme()"
      class="theme-switch-btn-desktop"
    >
      <mat-icon>{{
        themeService.isDarkMode() ? "brightness_7" : "brightness_4"
      }}</mat-icon>
    </button>
    <button mat-stroked-button (click)="toggleTheme()" class="theme-switch-btn">
      {{
        (themeService.isDarkMode() ? "switchToLightMode" : "switchToDarkMode")
          | translate
      }}
    </button>
  </div>
</div>
