<main class="hero">
  <div class="hero-left">
    @if (themeService.isDarkMode()) {
    <img
      src="assets/images/handwritten-white.png"
      class="hero-left-logo"
      alt="caglarevren"
    />
    } @else {
    <img
      src="assets/images/handwritten-black.png"
      class="hero-left-logo"
      alt="caglarevren"
    />
    }

    <p class="hero-text">{{ "heroParagraphOne" | translate }}</p>
    <p class="hero-text">{{ "heroParagraphTwo" | translate }}</p>
    <p class="hero-text">{{ "heroParagraphThree" | translate }}</p>
  </div>
  <div class="hero-right">
    @if (themeService.isDarkMode()) {
    <img src="assets/icons/hero.svg" alt="hero" class="hero-right-img" />
    } @else {
    <img
      src="assets/icons/hero-light.svg"
      alt="hero light"
      class="hero-right-img"
    />
    }
  </div>
</main>
