<mat-form-field appearance="outline">
  <mat-select
    [(value)]="selectedCountry"
    (selectionChange)="changeLanguage($event.value)"
    disableRipple
  >
    <mat-select-trigger class="select-trigger">
      <img
        [src]="getFlag(selectedCountry)"
        alt="Selected Flag"
        class="flag-icon"
      />
      <span class="flag-text">{{ selectedCountryText }}</span>
    </mat-select-trigger>
    <mat-option value="en">
      <img
        src="assets/images/england.png"
        alt="England Flag"
        class="flag-icon"
      />
      <span class="flag-text">English</span>
    </mat-option>
    <mat-option value="tr">
      <img src="assets/images/turkey.png" alt="Turkey Flag" class="flag-icon" />
      <span class="flag-text">Türkçe</span>
    </mat-option>
  </mat-select>
</mat-form-field>
