.sidenav {
  height: 100vh;

  &-inner {
    width: 88px;
    border: none;

    @media screen and (max-width: 600px) {
      width: 200px;
    }
  }

  &-content {
    width: 100%;
    padding: 0px 36px;
    padding-right: 120px;

    @media screen and (max-width: 600px) {
      padding-right: 36px;
    }
  }
}
