<section class="timeline">
  <div class="timeline-empty"></div>
  <div class="timeline-middle">
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <div class="timeline-content-inner timeline-content-inner-right">
        <img src="assets/icons/book.svg" alt="book" />
        <p class="timeline-content-inner-year">06.2018</p>
        <a
          href="https://aybu.edu.tr"
          class="timeline-content-inner-company"
          target="_blank"
        >
          {{ "university" | translate }}</a
        >
        <p class="timeline-content-inner-text">
          {{ "ybuGraduated" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div></div>

  <div class="timeline-content"></div>
  <div class="timeline-middle">
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <div class="timeline-content-inner timeline-content-inner-left">
        <img src="assets/icons/crossfit.svg" alt="crossfit" />
        <p class="timeline-content-inner-year">01.2021</p>
        <a
          href="https://www.etstur.com"
          class="timeline-content-inner-company"
          target="_blank"
        >
          {{ "etstur" | translate }}</a
        >
        <p class="timeline-content-inner-text">
          {{ "etsturTools" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="timeline-empty"></div>

  <div class="timeline-empty"></div>
  <div class="timeline-middle">
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <div class="timeline-content-inner timeline-content-inner-right">
        <img src="assets/icons/yoga.svg" alt="yoga" />
        <p class="timeline-content-inner-year">09.2022</p>
        <a
          href="https://www.huawei.com"
          class="timeline-content-inner-company"
          target="_blank"
        >
          {{ "huawei" | translate }}</a
        >
        <p class="timeline-content-inner-text">
          {{ "huaweiTools" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div></div>

  <div class="timeline-content"></div>
  <div class="timeline-middle">
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <div class="timeline-content-inner timeline-content-inner-left">
        <img src="assets/icons/judo.svg" alt="judo" />
        <p class="timeline-content-inner-year">03.2024</p>
        <a
          href="https://softtech.com.tr"
          class="timeline-content-inner-company"
          target="_blank"
        >
          {{ "softtech" | translate }}</a
        >
        <p class="timeline-content-inner-text">
          {{ "softtechTools" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="timeline-empty"></div>

  <div class="timeline-empty"></div>
  <div class="timeline-middle">
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <div class="timeline-content-inner timeline-content-inner-right">
        <img src="assets/icons/ninja.svg" alt="ninja" />
        <p class="timeline-content-inner-year">03.2024</p>
        <a
          href="https://www.payten.com/"
          class="timeline-content-inner-company"
          target="_blank"
        >
          {{ "payten" | translate }}</a
        >
        <p class="timeline-content-inner-text">
          {{ "paytenTools" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div></div>
</section>
